@import url("./component.css");
@import url("./font.css");
@import url("./layout.css");
@import url("./reset.css");

:root {
    /* Colors in HSL */
    --color-bg: 340 9 87;
    --color-text: 240 7 19;
    --color-highlight: 333 23 75;
    --color-accent: 358 33 59;

    accent-color: hsl(var(--color-accent));

    /* Font */
    --font-family: "Poppins";
    --font-fallback: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: normal;
    font-style: normal;
    font-family: var(--font-family), var(--font-fallback);
}

body {
    color: hsl(var(--color-text));
    background-color: hsl(var(--color-bg));

    margin: auto;
    max-width: clamp(20rem, 70%, 80rem);
}

a {
    color: hsl(var(--color-text));
    text-decoration: none;
}

li {
    list-style: none;
}

path {
    fill: hsl(var(--color-text));
}
