.font__weight--regular {
    font-weight: 400;
}

.font__weight--bold {
    font-weight: 700;
}

.font__weight--black {
    font-weight: 900;
}

.font__size--2 {
    font-size: 2rem;
}

.font__size--large {
    font-size: large;
}
